/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  
}

*:focus {
  outline: 2px dotted rgb(161, 27, 27);
  outline-offset: 5px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family:'Bebas Neue';
  font-weight: 400;

}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem; 
  padding-right: 5rem; 
}

.wrapper {
  height: 100%;
  display: flex;
 
}
.hero {
  width: 50%; 
  height: 100%;
  background-image: url("../img/png/hero-image_bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.hero_wrapper{
  max-width: 285px;
}

.hero-title {
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.hero-btn{
  border: 0;
  background-color: #1E90FF;
  color: #FFFFFF;
  padding: 1.2rem 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 2.4rem;
  

}
.hero-btn:hover{
  background-color:rgba(30, 144, 255, 0.8);
}
.hero-btn_wrapper{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  letter-spacing: 2px;
}
.hero-btn_img::before {
  content: "";
  background-image: url("../img/svg/Vector.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  width: 50%;
  height: 100%;
  padding-top: 5.4rem;
  padding-left: 5.4rem;
  padding-right: 5.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-title{
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 2px;
  color: rgba(34, 34, 34, 1);
  margin-bottom: 2.4rem;
}
.main-title_underline{
  color: rgba(153, 153, 153, 1);
  margin-bottom: 2.4rem;
}
.main-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-item {
  display: flex;
}
.main-img {
  transition: 0.3s;
}
.main-img:hover{
  object-position: center;
  transform: scale(1.1);
}
.main-description {
  max-width: 307px;
  padding: 1.6rem 0 3.2rem 1.6rem;
}
.main-description_watch{
  display: flex;
  gap: 2.4rem;
  padding-top: 0.4rem;
  
}
.main-description_title {
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #222222;
  
}
.main-description_time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main-description_time-img {
}
.main-description_time-text {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: 1.4rem;
  line-height: 1.6rem;
}
.main-description_view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.main-description_view-img {
}
.main-description_view-text {
}
.main-btn {
  margin-top: 2.3rem;
  color: #FFFFFF;
  background-color: #1E90FF;
  border: none;
  width: 492px;
  padding: 1.2rem 0;
  transition: all 0.5s ease-in;
 z-index: 1;
}
.main-btn:hover{
  background-color:rgba(30, 144, 255, 0.8);
}